// primary
$golden: #EEBF63;
$blue: #90C0E8;
$blueGreen: #6FC2C5;
$goldenDark: #CD921E;
$blueDark: #486074;
$greenDark: #386163;

// tertiary
$black: #1C1C1C;
$dark: #2f2f2f;
$greyDark: #828282;
$grey: #E1E1E1;
$greyLight: #F1F1F1;
$white: #FFFFFF;